body {
  color: black;
  background-color: #000033;
  font-size: 20px;
  min-height: 500px;
  /* parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  text-align: right;
  font-size: 100%;
}

/* .parallax { */
/* background-image: url("../Responsive-Portfolio/images/Port1");
  min-height: 500px;
  /* parallax scrolling effect */
/* background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
/* } */
h1 {
  color: purple;
  font-size: 100%;
  font-family: "Playfair Display", serif;

  /* font-family: "Georgia", "Times", "Times New Roman", serif; */
  margin: 0px;
  padding: 100px;
  font-size: 40px;
  min-height: 150px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.moveit {
  background-image: url("./images2/background-code\ .jpeg");
  background-size: cover;
  border-bottom: 4px solid black;
  color: white;
}
.background {
  font-size: 100%;
}

.typewriter h1 {
  overflow: hidden;
  /* white-space: nowrap; Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* picture */
#aboutme {
  font-size: medium;
  padding: 5%;
  /* margin: 20px; */
}

.profile-pic {
  width: 20%;
  float: left;
}

p {
  color: white;
  /* text-align: center; */
  /* font-style: oblique; */
  /* line-height: 1.5; */
  /* border-top: 4px solid white;
  border-bottom: 4px solid white; */
}
.part2 {
  color: black;
  /* background-color: #2980b9; */
  text-align: center;
  line-height: 40px;
  margin: 0 auto;
  min-height: 150px;
  /* font-size: 50%; */
  font-family: "Playfair Display", serif;

  /* Create the parallax scrolling effect */
  /* background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

/* homepage-portfolio */
#portfolio-section {
  text-align: center;
  background: #2980b9;
  font-size: 200%;
  background-image: url("../Responsive-Portfolio/images/Port1");
  min-height: 150px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.stock {
  width: 150px;
  height: auto;
}

footer {
  text-align: center;
  padding: 30px 20px 0px 20px;
  background-color: #666666;
  border-top: 4px solid black;
  position: fixed;
  bottom: 0;
  width: 100%;
}
/* end of index css */
.container77 {
  position: relative;
  text-align: center;
  display: flex;
  margin: 175px;
}

.flip-card {
  background-color: transparent;
  width: 200px;
  height: 200px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  background-color: #bbb;
  color: black;
  z-index: 2;
}

.card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
  z-index: 1;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type="submit"] {
  background-color: pink;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}

@media screen and (max-width: 980px) {
  h1 {
    font-size: 30px;
    margin: 0px;
    padding: 20px;
  }
  #aboutme {
    font-size: 25px;
    padding: 20px;
  }
  .part2 {
    font-size: 1.5rem;
    line-height: 1.5;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 20px;
    margin: 0px;
    padding: 0px;
  }
  .part2 {
    font-size: 1.5rem;
    line-height: 1.5;
  }

  #aboutme {
    font-size: 25px;
  }
}

@media (max-width: 640px) {
  h1 {
    font-size: 20px;
  }
  #aboutme {
    font-size: 20px;
    margin: 20px;
  }

  .part2 {
    font-size: 1.25rem;
    margin: 10px;
  }
}
.social-media {
  display: flex;
  width: 200px;
  height: 200px;
}
