body {
  color: black;
  /* margin: 0 auto; */
  font-size: 15px;
  /* background-image: url("../Responsive-Portfolio/Port1.png"); */
  min-height: 500px;
  /* parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  text-align: right;
  font-size: 50%;
}

/* .flex {
  display: flex;
  width: 100%;
  margin: 0 auto;
}
.banner {
  justify-content: space-between;
  flex-direction: row;
  background-color: white; */
/* } */
.parallax {
  background-image: url("../Responsive-Portfolio/Port1.png");
  min-height: 500px;
  /* parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: black;
  font-family: "Georgia", "Times", "Times New Roman", serif;
  margin: 0px;
  padding: 50px;
  font-size: 40px;
  background-image: url("../Responsive-Portfolio/Port1.png");
  min-height: 150px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.moveit {
  background: white;
  border-bottom: 4px solid black;
}

#aboutme {
  font-size: 50px;
  margin: 20px;
}
/* nav {
  color: purple;
  margin: 50px;
  font-size: 20px;
} */

.profile-pic {
  width: 20%;
  padding: 93px;
  float: right;
}

p {
  color: white;
  text-align: center;
  font-style: oblique;
  line-height: 1.5;
  border-top: 4px solid white;
  border-bottom: 4px solid white;
}
.part2 {
  font-size: 20px;
  text-align: left;
  line-height: 60px;
  max-width: 960px;
  margin: 0 auto;
  min-height: 150px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.pics {
  display: flex;
  flex-flow: column wrap;
}
.stock {
  width: 150px;
  height: auto;
}

footer {
  text-align: center;
  padding: 30px 20px 0px 20px;
  background-color: #666666;
  border-top: 4px solid black;
  position: fixed;
  bottom: 0;
  width: 100%;
}
/* end of index css */
.container77 {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type="submit"] {
  background-color: pink;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}

@media screen and (max-width: 980px) {
  h1 {
    font-size: 30px;
    margin: 0px;
    padding: 20px;
  }
  #aboutme {
    font-size: 25px;
    padding: 20px;
  }
  .part2 {
    font-size: 1.5rem;
    line-height: 1.5;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 20px;
    margin: 0px;
    padding: 0px;
  }
  .part2 {
    font-size: 1.5rem;
    line-height: 1.5;
  }

  #aboutme {
    font-size: 25px;
  }
}

@media (max-width: 640px) {
  h1 {
    font-size: 20px;
  }
  #aboutme {
    font-size: 20px;
    margin: 20px;
  }

  .part2 {
    font-size: 1.25rem;
    margin: 10px;
  }
}
